#aci {
    img {
        position: absolute;
        width: 90%;
        margin-left: 50px;
        margin-bottom: 100px;
    }

    figure {
        display: table;
        margin-left: 100px;

        img {
            margin: 0;
            width: 78%;
            height: 68%;
            margin-left: 50px;
            margin-bottom: 100px;
        }

        figcaption {
            font-size: 14pt;
            text-align: right;
        }
    }
}
