#opflex-ml2 {
    img {
        position: absolute;
        width: 90%;
        margin-left: 50px;
        margin-bottom: 100px;
    }

    figure {
        display: table;
        margin-left: 100px;

        img.opflex-ml2 {
            margin: 0;
            width: 85%;
            height: 100%;
            margin-left: 50px;
            margin-bottom: 100px;
        }

        img.opflex-agent {
            margin: 0;
            width: 85%;
            height: 100%;
            margin-left: 50px;
            margin-bottom: 100px;
        }

        img.distributed-neutron {
            margin: 0;
            width: 85%;
            height: 100%;
            margin-left: 50px;
            margin-bottom: 100px;
        }

        figcaption {
            font-size: 14pt;
            text-align: right;
        }
    }
}
