#opflex-ml2 {
    img {
        position: absolute;
        width: 90%;
        margin-left: 50px;
        margin-bottom: 100px;
    }

    div.opflex-openstack {
        width: 100%;
        height: 100%;
        position: relative;

        img.opflex-ml2 {
            margin: 0;
            width: 145%;
            height: 155%;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        img.opflex-agent {
            margin: 0;
            width: 145%;
            height: 155%;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        img.distributed-neutron {
            margin: 0;
            width: 145%;
            height: 155%;
            margin-left: 20px;
            margin-bottom: 20px;
        }
        
        font-size: 18pt;
        text-align: right;
    }
}
